<!DOCTYPE html>
<html lang="en">
​<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCalendar</title>
    ​<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="styles/openingStyleCss.css">
    ​
</head>
​

<body>
   
    
        <!--DCM added opening  modal-->
        <div class="modal fade" id="modalForUserLogin" role="dialog">
            <div class="modal-dialog" id = "modalForUserLoginDialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-body">
                            <div class="form-group">
                                <h3><strong>Welcome to MyCalendar!</strong></h3>
        
                                <form>
                                    <div class="form-group">
                                      <label for="inputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                               
                                    <button type="submit" class="btn btn-primary" id="userSubmitButton1">Submit</button>
                                  </form>
                                  <div id="newUserEntryInput1">
                                      <br>
                                
<div id="newUserSubmitButtonTitle">
    To add a MyCalendar account:
</div>
                                      <button type="submit" class="btn btn-primary" id = "newUserSubmitButtonForNewUserModal">New Users</button>
                                  </div>
                            </div>
         
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--DCM Adding new user submit modal-->
        <div class="modal fade" id="modalForNewUserEntry" role="dialog">
            <div class="modal-dialog">
               
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-body">
                            <div class="form-group">
                                <h5><strong>Register for MyCalendar!</strong></h5>
        
                                <form>

                                    <div class="form-group">
                                        <label for="newUserFirstNameEntry">First Name</label>
                                        <input type="text" class="form-control" id="newUserFirstNameEntry">
                                      </div>

                                      <div class="form-group">
                                        <label for="newUserLastNameEntry">Last Name</label>
                                        <input type="text" class="form-control" id="newUserLastNameEntry">
                                      </div>

                                    <div class="form-group">
                                      <label for="newUserEmailEntry">Email address</label>
                                      <input type="email" class="form-control" id="newUserEmailEntry" aria-describedby="emailHelp" placeholder="Enter email">
                      
                                    </div>
                                    <div class="form-group">
                                      <label for="newUserPasswordEntry">Password</label>
                                      <input type="password" class="form-control" id="newUserPasswordEntry" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="newUserUserNameEntry">User Name</label>
                                        <input type="text" class="form-control" id="newUserUserNameEntry">
                                      </div>

                                    <button type="submit" class="btn btn-primary" id="newUserSubmitButtonEntry">Submit</button>
                                  </form>
                          
                            </div>
         
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

</body>
​
<script src="js/openingjs.js" type="text/javascript"></script>

</html>