body{
         background: url("../images/calendar3.jfif");background-size: 100%;
   
}
/* 
.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
} */
#modalForUserLoginDialog {


  
    height: 1000px;
    max-height: 100%;
    
  }
  
.modal-content{
    background-color: beige;
}
/* #modalForNewUserEntry {
 
      height:1000px;

  } */

  /* .modal.dialog1 { /* customized styles. this way you can have N dialogs, each one with its own size styles */
    width: 60%;
    height: 50%;
    left: 20%; /* ( window's width [100%] - dialog's width [60%] ) / 2 */
} */

#modalForNewUserEntry{
    font-size: 50%;
}



  /*DCM styles
  
  h3{
      font-size: 20px;
      font-weight: bold;
  }
  
  
  /* #eventSpace{
      border:solid;
      border-width: ;
  } */
  .activityForm{
    padding: 5px;
        border:solid;
        border-width: 5px;
        border-color: black;
    }
    .userViewActivityPanel{
        border: solid, 5px;
    }
    
    #userSubmitInitialActivityButton{
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
    .destinationDiv{
        font-weight: bold;
        color: blue;
        width: 100%;
        padding: 5px;
        border:solid;
        border-width: 5px;
        border-color: black;
        margin-bottom: 5px;
    
    }
    
    .userViewActivityPanelHeader{
        font-size: 20px;
        font-weight: bold;
    }
    
    .destinationButton{
        font-size: 25px;
        background-color: white;
        color:blue;
        text-align: center;
        
    }
    #destinationTitle{
    
        font-size: 30px;
        font-weight: bolder;
    }
    .finalUserEntry{
       
        font-size: 30px;
        font-weight: bolder; 
    }
    .destinationChoice{
        display: block;
    }
    
    .textAreaFinalEntryModal{
        width:100%;
    
    }
  
  