body {
    background-image: url("../images/webb.png");
    overflow: scroll;
}

.main-header {
    font-size: 24pt;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3pt solid black;
    border-top: 3pt solid black;
    background-color: darkgrey;
    margin-bottom: 10px;
    color: black;
    text-shadow: 1px 1px whitesmoke;
}

#loginContainer {
    margin: auto;
    width: 30%;
    padding: 10px;
    border: 3pt solid black;
    background-color: darkgray;
}

.button-main {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3pt solid black;
    background-color: darkgrey;
    margin-bottom: 10px;
}

#modalForNewUserEntry1 {
    height: 575px;
    border: 3pt solid black;
    margin: 0;
}

#modalHeaderForNewUserEntry1 {
    margin: 0;
    padding: 0;
    border: 0;
}

#modalBodyForNewUserEntry1 {
    width: auto;
    height: auto;
    margin-right: 20px;
    padding: 0;
}

.formEntry {
    margin: 0;
}

#newUserSubmitButtonEntry {
    width: 25%;
    background-color: midnightblue;
    padding: 2px;
    border: none;
}

#modalHeaderForNewUserEntry1 {
    color: black;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
}

#modalContentForIncorrectEntry {
    font-size: 30px;
    font-weight: bolder;
    color: midnightblue;
}

.modal-title {
    color: midnightblue;
}

#buttonToCloseIncorrectEntryModal {
    text-align: right;
    margin-right: 10px;
}

#effect {
    width: 240px;
    height: 135px;
    padding: 0.4em;
    position: relative;
}

#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

.modal-body {
    height: 500px;
    width: 600px;
}

.modal-content {
    background-color: darkgrey;
    color: whitesmoke;
}

#calendarIconImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#userSubmitButton1 {
    width: 25%;
    background-color: midnightblue;
    padding: 2px;
    border: none;
}

#newUserSubmitButtonForNewUserModal {
    width: 25%;
    background-color: midnightblue;
    padding: 2px;
    border: none;
}