body {
    background-image: url("../images/webb.png");
    overflow: scroll;
}

h3 {
    color: midnightblue;
}

.textAreaFinalEntryModal {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 150;
}

#modalContentForFinalEntry {
    background-color: darkgray;
    height: 600px;
}

#model-confirm {
    border: 0;
}

#locationFromActivityPanelInput {
    height: 50px;
    font-size: 20px;
    font-weight: 150;
}

#weekDayOptions {
    padding: 0;
    font-size: 20px;
    font-weight: 150;
}

#startTimeOptions {
    padding: 0;
    font-size: 20px;
    font-weight: 150;
}

#endTimeOptions {
    padding: 0;
    font-size: 20px;
    font-weight: 150;
}

#commentFromActivityPanelInput {
    height: 50px;
    font-size: 20px;
    font-weight: 150;
}

.day {
    height: 700px;
    border: 1.5pt groove black;
    width: 175px;
    text-align: center;
    overflow-y: auto;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 10px;
}

.container-days {
    text-align: center;
}

.main-header {
    font-size: 24pt;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3pt solid black;
    border-top: 3pt solid black;
    background-color: darkgrey;
    margin-bottom: 10px;
    color: black;
    text-shadow: 1px 1px whitesmoke;
}

.button-main {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3pt solid black;
    background-color: darkgrey;
    margin-bottom: 10px;
}

.lbl-day {
    border: 1pt solid black;
    width: 175px;
    text-align: center;
    height: 35px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: darkgray;
    color: whitesmoke;
    border-radius: 5px;
    text-shadow: 2px 2px 8px #3b274a;
    margin: 0 auto;
}

.single-hour {
    padding-left: 3px;
    height: 20px;
    width: 100%;
    border-bottom: 0.5pt dashed black;
    text-align: left;
    font-size: 8pt;
}

.task-3 {
    padding-top: 5px;
    margin-top: -16px;
    height: 90px;
    width: 100%;
    border-top: 1pt solid black;
    border-bottom: 1.5pt solid black;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 5px;
}

.task-4 {
    padding-top: 5px;
    margin-top: -16px;
    height: 110px;
    width: 100%;
    border-top: 1pt solid black;
    border-bottom: 1.5pt solid black;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 5px;
}

.task-2 {
    padding-top: 5px;
    height: 70px;
    width: 100%;
    border-top: 1pt solid black;
    border-bottom: 1.5pt solid black;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    margin-top: -16px;
    background-color: lightblue;
    border-radius: 5px;
}

.task-1 {
    padding-top: 5px;
    margin-top: -16px;
    height: 50px;
    width: 100%;
    border-top: 0.5pt solid black;
    border-bottom: 1.5pt solid black;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    background-color: lightcoral;
    border-radius: 5px;
}

.lbl-hour {
    height: 20px;
    text-align: right;
}

.active-task {
    cursor: pointer;
}

.modal-body {
    height: 500px;
    width: 600px;
}

.lbl-act {
    font-size: 12pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.selectForm {
    border-left: 3pt outset black;
    border-bottom: 3pt outset black;
    margin-top: -14px;
    background-color: darkgray;
    width: 95%;
    padding-left: -5px;
}

.destinationDiv {
    border: 1pt solid black;
    background-color: whitesmoke;
    width: 90%;
    padding: 5px;
    font-size: 10pt;
    margin-top: 5px;
}

.selectForm {
    overflow-y: auto;
    height: 750px;
    padding-bottom: 15px;
    padding: 5px;
}

.userViewActivityPanelHeader {
    margin-top: 15px;
    font-weight: bold;
}

.pop-event {
    margin-top: 20px;
    padding: 5px;
    width: 120%;
    margin-left: -15%;
}

.lbl-confirm {
    margin-top: 5px;
    margin-bottom: 5px;
}

#model-confirm {
    height: 500px;
}

#userActivityChoice,
#userCity,
#userState {
    width: 90%;
}

#userFinalEventEntrySubmitButton {
    margin-left: -10%;
}

#userSubmitInitialActivityButton,
#delete-all,
#sign-out,
#userFinalEventEntrySubmitButton,
#delete-task,
#update-task,
#close-task {
    transition: all 0.2s;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 10px;
    width: 100px;
    font-size: 8pt;
    font-weight: bold;
}

#delete-all,
#sign-out {
    margin-right: 10px;
}

#userSubmitInitialActivityButton:hover,
#delete-all:hover,
#sign-out:hover,
#commentFromActivityPanelInput:hover,
#delete-task:hover,
#update-task:hover,
#close-task:hover {
    background-color: whitesmoke;
    color: black;
    font-size: 8pt;
    font-weight: bold;
}

#userCity {
    margin-top: 15px;
    margin-bottom: 15px;
}

#userState {
    margin-bottom: 15px;
}

#taskDay {
    width: 50%;
}

#taskID {
    width: 0%;
}

#taskName {
    width: 80%;
}

#taskDesc {
    width: 80%;
    height: 75px;
}

#hour-container {
    margin-top: 30px;
}

#btn-new-task {
    width: 80%;
    border-radius: 3px;
    border: 1pt solid black;
    background-color: midnightblue;
    color: whitesmoke;
}

#upcoming-tasks {
    height: 500px;
    border: 2pt solid black;
    margin-top: 15px;
    border-radius: 10px;
}

 ::-webkit-scrollbar {
    width: 0px;
}